footer {
    position: fixed;
    background-color: #463934;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px;
    text-justify: auto;
    bottom: 0;
}

 .custom-btn {
    border-color: transparent;
  }
  