<div class="container">
  <div class="card-header">
    <header class="justify-content-center py-6 mb-3 border-bottom">
   
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/games/hangman" class="nav-link px-2 link-secondary">Hangman</a></li>
        <li><a routerLink="/games/cards" class="nav-link px-2 link-secondary" >Card</a></li>
        <li><a routerLink="/games/asked" class="nav-link px-2 link-secondary">Asked</a></li>
        <li><a routerLink="/games/anagram" class="nav-link px-2 link-secondary">Anagram</a></li>
      </ul>
    </header>
    <app-ranking></app-ranking>
  </div>

  <div class="card-body p-3 containerSide">
    <router-outlet></router-outlet>
  </div>

 
</div>